.jumbotron {
    padding-top: 6rem;
    background-color: #ffffff;
}

#about {
    background-color:#84e4e9; 
}

#projects {
    background-color: #A2D9FF; 
}

#contact {
    background-color: #84e4e9; 
}

section {
    padding-top: 5rem;
}